name: WebGrab+Plus EPG
on:
  repository_dispatch:
    types: [build_epg]

jobs:
  run_wg:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Prepare Config
        run: python3 filter_wg_channels.py ${{ github.event.client_payload.country }}

      - name: Run WebGrab+Plus (Docker)
        run: |
          docker run --rm \
            -v $(pwd)/config:/config \
            -v $(pwd)/epg_db:/data \
            linuxserver/webgrabplus:latest

      - name: Push to Repo
        run: |
          git config --global user.name "WG-Bot"
          git add epg_db/*.xml
          git commit -m "WG++ Update: ${{ github.event.client_payload.country }}"
          git push
